div.mycontent{
    margin-top: 100px;
    margin-left: 50px;
}
body{
    background-color: #4477CE;
}
img{
    padding-left: 20px;
    height:200px;
    width:auto;
}
button{
    width: 100px;
    background-color: #4477CE;
    color: white;
    margin-left: 600px;
}
input{
    width: 32px;
    background-color: white;
}
div#cards{
    background-image: url(./cards-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
a{
    color:white;
}